#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
	background-color:#a164df;
	height:200px
}

.btn {
   
    padding: 5px 12px;
    background-color: #663399;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.stop {
    padding: 5px 2px;
    background-color: #663399;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	 
}
